body {
	color: white;
	font-family: consolas;
	background-color: #031321;
}

.content {
	border: 1px solid white;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
}

label {
	font-size: 1.5em;
}

input {
	height: 50px;
}

input,
textarea {
	font-size: 2em;
}

#compter {
	font-size: 1.5em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

select {
	font-size: 1.3em;
}

p {
	font-size: 1.6em;
}

.result {
	padding: 5%;
	border: 1px solid white;
	margin-top: 30px;
}
